*
!*.*
!src
!src/**
!test
test/game-boy-test-roms-v*
*.txt
*.tmp
*.pdf
!test/results
!test/results/summary.txt
!Makefile
.vscode
!font
!images
!images/icons
!docs
src/platform/android/android-project/.*
src/platform/android/android-project/local.properties
src/platform/android/android-project/app/build
src/platform/android/android-project/app/jni/SDL2
*.out
src/platform/desktop/resources.c
!.github/*
