*
!*.*
!src
!src/**
!Makefile
.vscode
!font
!images
!icons
!icons/**
!docs
src/platform/android/android-project/.*
src/platform/android/android-project/local.properties
src/platform/android/android-project/app/build
*.out
