*
!*.*
!src
!src/**
src/platform/test/**
!src/platform/test/*.c
!src/platform/test/*.py
!src/platform/test/*.mk
!src/platform/test/results
!src/platform/test/results/summary.txt
!src/platform/test
src/platform/test/*.zip
*.txt
*.tmp
*.pdf
*.bin
!Makefile
.vscode
!font
!images
!images/icons
!docs
src/platform/android/.*
src/platform/android/local.properties
src/platform/android/app/build
*.out
!.github/*
*.idea
*.log
*.kotlin
!CMakeLists.txt
